body {
    background-color: #668ba4;
}
.main-title {
    background-color: #dde0ab;
    text-align: center;
    font-size: 40px;
    padding: 8px;
}
.recipe-links {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    padding: 8px;
    margin-top: 50px;
}
button {
    display: block;
    margin: 12px auto;
    font-size: 28px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #97cba9;
}

.food-pic {
    display: block;
    height: auto;
    width: 400px;
    margin: 0 auto;
    padding-top: 100px;
}

.pic {
    background-color: #b2b2b2;
}
.description-text {
    background-color: #f4e1d2;
    font-family: "Times New Roman", sans-serif;
    font-size: 20px; 
}
.ing-list {
    background-color: #f18973;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.directions {
    background-color: #bc5a45;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
img {
    height: auto;
    width: 250px;
}