.pic {
    background-color: #b2b2b2;
}
.description-text {
    background-color: #f4e1d2; 
}
.ing-list {
    background-color: #f18973;
}
.directions {
    background-color: #bc5a45;
}
img {
    height: auto;
    width: 250px;
}